strong{
  color: rgb(253, 253, 253);
}


a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}


/* espaçamento do ícone pro texto do menu */

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}


/* margin do texto lorem ipsun */

.p-4 {
  padding: 1.5rem !important;
}

body {
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  min-height: 120vh;
  }


#sidebar {
  width: 250px !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  background: #212121;
  color: #fff;
  transition: all 0.3s !important;
}

#sidebar.active {
  margin-left: -250px !important;
}

#sidebar h1 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px;
}

#sidebar h1 .logo {
        color: #fff;
        display: block;
        padding: 10px 30px;
        background: #2f89fc;
}

#sidebar ul li a {
        padding: 15px 30px;
        display: block;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
  color: #fff;
  background: #2f89fc;
  border-bottom: 1px solid #2f89fc;
}

#content {
  width: calc(100% -250px) !important;
  padding: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  right: 0;
  position: absolute;
}

#content.active {
    width: 100%;
}

form{
  margin-right: 100px !important;
  background-color: #00000071;
  padding: 20px;
  border-radius: 10px;
}

#titulo{
  color:white;
  margin-bottom: 20px;
}

div>label{
  color: white;
  margin-bottom: 5px;
}

.icone-titulo{
  margin-right: 10px;
}

.input{
  background-color: #dee2e615;
  color: white;
  margin-bottom: 10px;
}


input::placeholder {
  color: rgb(255, 255, 255);
}


textarea::placeholder {
  color: blue;
}

.endereco-1{
  display: flex;
}

.endereco-2{
  display: flex;
}

.dica-senha{
  color:rgb(252, 214, 0) !important;
}

div.row.senha.col-12{
  display: flex;
}

.assinatura{
  font-size: 20px;
  margin-top: 10px;
}

div.row.botoes.col-12{
  margin-top: 20px;
}

select.form-control.input>option{
  background-color: #012e5e;
}


@media (max-width: 1300px) {
  #sidebar {
      margin-left: -250px;
  }

  #content{
    width: 80% !important;
    margin-right: 30px;

  }
  #sidebar.active {
      margin-left: 0;
  }


  #sidebarCollapse span {
      display: none;
  }
}
